* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}

.logo {
  color: #ff385c;
  font-weight: bold;
  font-size: 22px;
}

.nav-right a {
  text-decoration: none;
  color: black;
}

/* FORM */
.form-container {
  max-width: 700px;
  margin: 40px auto;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-group textarea {
  height: 100px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background: #ff385c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}